<a href="https://colab.research.google.com/github/JRPateno/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

# bool() function

In [5]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

# Functions can return a Boolean

In [14]:
def my_Function():
  return False

print(my_Function())

False

In [16]:
if my_Function():
  print("True")
else:
   print("False")

False

# Application 1

In [18]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

# Python Operators

In [26]:
print(10+5)
print(10-5)
print(int(10/5))
print(10*5)
print(10%5)
print(10//3)   #10//3= 3.33
print(10**2)  #power (**)

15
5
2
50
0
3
100

# Bitwise Operators
### & = and
### | = or 
### ^ = xor
### ~ = 
### << = binary left shift
### >> = binary right shift

In [35]:
c=60 #binary 0011 1100  
d=13 #binary 0000 1101

print(c&d)
print(c|d)
print(c^d)
print(c<<2)
print(d<<2)
print(c>>d)

12
61
49
240
52
0

#Logical Operators

In [38]:
h= True
l= False
h and l
h or l
not (h or l)

False

# Application 2

#Python Assginment Operators

In [47]:
x=4

x+=3         #same as x=x+3
print(x)
x-=3         
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)

7
4
12
4.0
1.0

# Identity Operators

In [50]:
h is l
h is not l

True

# Control Structre
 If statement

In [54]:
a = 7
b = 6

if a>b:
  print("Haha")

Haha

 Elif Statement

In [55]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [56]:
a = 10
b = 10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [57]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [62]:
a = 10
b = 5
print("a is greater than b")if a>b else print("b is greater than a")

a is greater than b

And

In [66]:
if a>b and b<a:
  print("Both conditions are TRUE")

Both conditions are TRUE

Or

In [67]:
if a<b or b<a:
  print("the condition is true")

the condition is true

Nested If

In [73]:
x = int(input())

if x>10:
  print("above ten")
  if x>20:
   print("and also above 20")
   if x>30:
     print("and also above 30")
     if x>40:
       print("and also above 40")
       if x>50:
         print("and also above 50")
       else:
         print("but not above 50")

52
above ten
and also above 20
and also above 30
and also above 40
and also above 50

# Loop Statement

For Loop

In [74]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [77]:
#Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [80]:
#Only Wednesday
for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

While Statement

In [83]:
i = 1
while i<6:
  print(i)
  i+=1  #same as i = i + 1

1
2
3
4
5

Application 3 - Create a python program that displays no.3 using break statement

In [103]:
i = 1
while i<6:
  if i==3:
   break
  i+=1
print(i)

3